
# HTID:15883333: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:15883333:
php_flag output_buffering on

Options All -Indexes
ErrorDocument 404 /feriavirtual/404.php